@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&display=swap');

:root{
    --bg-page: linear-gradient(90deg, cyan, violet, pink, white);
    --bg-buttom: transparent;
    --bg-hover: #272262;
    --color-fonte: #272262;
    --color-Hover: white;
    --color-border: #272262;
    --color-borderFocus: #4038a0;
    --color-hr: white;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'roboto', sans-serif;
}

Body{
    background-image: var(--bg-page);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 8%;
}

.card{
    background-color: #ffffff40;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 3px 2px 1px 0px #00000070;
}

h1{
    margin-bottom: 20px;
    color: var(--color-text);   
}

.label-float input{
    width: 350px;
    padding: 5px;
    display: inline-block;
    border: 0;
    border-bottom: 2px solid var(--color-border);
    background-color: transparent;
    outline: none;
    min-width: 180px;
    font-size: 16px;
    transition: all .3s ease-out;
    border-radius: 0;
    color: var(--color-fonte);
}

.label-float{
    position: relative;
    padding-top: 13px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.label-float input:focus{
    border-bottom: 2px solid var(--color-borderFocus);
}

.label-float label{
    color: var(--color-fonte);
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 13px;
    transition: all .3s ease-out;
}

.label-float input:focus + label,
.label-float input:valid + label{
    font-size: 13px;
    margin-top: 0;
    color: var(--color-fonte);
}

.fa-eye{
    position: absolute;
    top: 15px;
    right: 10px;
    cursor: pointer;
    color: var (--color-fonte);
}

.toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
}

.toggle-password img {
    width: 20px;
    height: 20px;
}

button {
    padding: 10px 20px;
    color: white;
    background-color: #272262;
    border: 1px solid;
    cursor: pointer;
    transition: all .3s ease-out;
    font-weight: bolder;
    border-radius: 4px;
}

button:hover {
    background-color: violet;
    color: black;
}


#msgErro{
    display: none;
    font-weight: bolder;
    background: rgb(255, 182, 182);
    margin-top: 20px;
    color: red;
    border-radius: 5px;
    padding: 8px;
}

.justify-center{
    display: flex;
    justify-content: center;
}

hr{
    margin-top: 10%;
    margin-bottom: 10%;
    width: 70%;
    border: 1px solid #ffffff00;
}

p{
    text-align: center;
}

a{
    font-weight: bold;
    transition: all .3s ease-out;
}

a:hover{
    color: var(--color-Hover);
    transition: all .2s ease-out;
}
